version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./data/delhi.db:/app/data/delhi.duckdb
    environment:
      - LATLONG_TOKEN=${LATLONG_TOKEN}
      - DATABASE_PATH=/app/data/delhi.duckdb
      - GROQ_API_KEY=${GROQ_API_KEY}

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
